<nav class="topBar">
  <div class="wrap">
    <h1><a href="#" class="logo">WOWOROOM</a></h1>
    <span class="material-icons menuToggle">
      menu
    </span>
    <ul class="topBar-menu">
      <li><a href="#bedAdvantage">床墊優勢</a></li>
      <li><a href="#recommendation">好評推薦</a></li>
      <li><a href="#transport">運送方式</a></li>
      <li><a href="#orderInfo">立即預訂</a></li>
    </ul>
  </div>
</nav>